*{
	box-sizing: border-box;
	margin: none;
	padding: none;
}

.menu__button{
	border: none;
	background-color: inherit;
	font: inherit;
	cursor: pointer;
	background-color: inherit;
}

.about__us-button{
	border: none;
	background-color: inherit;
	font: inherit;
	cursor: pointer;
	background-color: inherit;
}

.collection__main-button {
	border: none;
	background-color: inherit;
	font: inherit;
	cursor: pointer;
	background-color: inherit;
}

.navigation__contact-button {
	border: none;
	background-color: inherit;
	font: inherit;
	cursor: pointer;
	background-color: inherit;
}

li{
	list-style: none;
	background-color: inherit;
}
