.about__us-section {
	width: 30vw;
	padding: 10em;
	display: none;
	margin-top: 10em;
}

.about__us-section--visible{
	width: 30vw;
	padding: 10em;
	display: block;
}

.about__us-button {
	cursor: pointer;
}

