.about__us-section {
	width: 30vw;
	padding: 10em;
	display: none;
	margin-top: 10em;
}

.about__us-section--visible{
	width: 30vw;
	padding: 10em;
	display: block;
}

.about__us-button {
	cursor: pointer;
}

/*MediaQueries*/

@media screen and (max-width:768px) {
	.about__us-section {
		width: 10vw;
		height: 10vh;
		margin: 0;
		border: 0;
		padding: 0;
	}
	.about__us-section--visible {
		width: 50vw;
		height: 10vh;
		margin: 0;
		border: 0;
		padding: 1em;
	}

	.about__us{
		position: absolute;
	}
}

