.navigation__contact__button {
	width: 90vw;
	left: 2em;

}

.contact_text {
	display: flex;
	justify-content: center;
	align-content: center;
}

.contact__section {
	padding: 10em;
	display: none;
}

.contact__section--visible {
	padding: 10em;
	display: block;
}

.question__input {
	width: 30em;
	height: 30em;
	color: black;
	background-color: pink;
	border: deeppink 1px solid;
}

.email__input{
	background-color: pink;
	border: deeppink 1px solid;
	width: 20em;
}


.Submit {
	background-color: pink;
	border: deeppink 1px solid;
	cursor: pointer;
}

/*Maybe I should make a popup where it says 
" congratulation you submitted" */