.navigation__contact-button {
	width: 30vw;
	left: 2em;
}

.contact__text {
	display: flex;
	justify-content: center;
	align-content: center;
}

.contact__section{
	padding: 10em;
	width: 30vw;
	height: 100vh;
	display: none;
}

/* 
	B__E--M
	
	not B__E__E--M

	1.
	1.2.
	1.2.3

	modules/navigation.css

	<div class="navigation">
		<div class="navigation__contact">
		<div class="navigation__contact-text">
		<div class="navigation__section">

		<div class="navigation__question-input">
	<div>

	modules/question.css
	<div class="question">
		<div class="question__input">
	<div>

	
*/

.contact__section--visible{
	width: 30vw;
	height: 100vh;
	display: block;
}

.question__input{
	width: 30em;
	height: 30em;
	color: black;
	background-color: pink;
	border: deeppink 1px solid;
}

.email__input{
	background-color: pink;
	border: deeppink 1px solid;
	width: 20em;
}

.submit {
	background-color: pink;
	border: deeppink 1px solid;
	cursor: pointer;
}

/*Maybe I should make a popup where it says 
" congratulation you've submitted, we will get back to you as soon as possible" */