.header-section {
	background-color: inherit;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.RWB-header{
	display: flex;
	justify-content: center;
	background-color: inherit;
	color: black;
	width: 100%;
	height: 10%;
	align-content: center;
}




