/* placement of the navigation controls*/
/* Don't really know if I need all of these, but hey, it works*/

.about__us-button {
	cursor: pointer;
}
.about__us-button:hover {
	color: pink;
}

.menu__button{
 cursor: pointer;
}
.menu__button:hover{
 color: pink;
}

.collection__main-button {
	cursor: pointer;
}


.collection__main-button{
	cursor: pointer;
}


.collection__main-button:hover{
	color: pink;
}


 .navigation__contact-button {
	cursor: pointer;
}

.navigation__contact-button:hover {
  color: pink;
}

.header__navigation{
	display: flex;
	justify-content: space-between;
	background: inherit;
	opacity: 90%;
	width: 100vw;
	display: none;
}

.header__navigation--visible {
	display: block;
	width: 100vw;
	height: 100vh;
}


.navigation__main {
	display: grid;
	grid-template-columns: repeat(3,1fr);	
	margin-top: 0;
}


/*MediaQueries*/
/* the navigation compatible on the phone*/

@media screen and (max-width:768px) {
	.navigation__main{
		display: grid;
		grid-template-columns: repeat(1,1fr);
		width: 100vw;
		height: 100vh;
	} 

	.menu__button:hover{
		color: inherit;
	}

	.about__us-button:hover {
		color: inherit;
	}

	.collection__main-button:hover{
		color: black;
	}  

	.navigation__contact-button:hover{
		color: inherit;
	}  
	

}