/* placement of the navigation controls*/
/* Don't really know if I need all of these, but hey, it works*/

.navigation-contact-button{
	cursor: pointer;
}

.navigation-contact-button__active {
	display: block;
	cursor: pointer;
}
.header-navigation{
	display: flex;
	justify-content: space-between;
	padding: 5em;
	display: none;
}

.header-navigation--visible {
	display: block;
}


.navigation-main {
	display: grid;
	grid-template-columns: repeat(3,1fr);	
}